.oscurecer {
  height: 1080px;
  width: 1920px;
  background-repeat: no-repeat;
  background-image: url(https://www.naveltec.com/attachments/Slider/0ee6a478-7ebc-165d-fe72-c690909ce03f/OnLine%20Shop%20No5.jpg);
  }

  /* linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), */